@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montaga&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.section1 {
  background-image: url("../assets/images/Mauritius\ Hero\ Image.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section1-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 3%;
  flex: 1;
  /* background-color: aqua; */
}

.section1-top .logo img {
  height: 100px;
}

.section1-top .navigation .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.section1-top .navigation .hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 5px;
}

.section1-top .navigation .menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.section1-top .navigation .menu li {
  margin-left: 30px;
}

.section1-top .navigation .menu li a {
  color: #ffffff;
  text-decoration: none;
}

.section1-bottom {
  /* background-color: aquamarine; */
  flex: 10;
}

.section1-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section1-bottom .maintitle {
  margin-top: -100px;
  font-size: 10rem;
  font-family: "Cinzel", serif;
  color: #ffffff;
}

.section1-bottom .title {
  margin-top: 50px;
  font-size: 5rem;
  font-family: "Montaga", serif;
  text-transform: uppercase;
  color: #ffffff;
}

.section1-bottom .sub-title {
  margin-top: -20px;
  font-size: 2rem;
  color: #ffffff;
}

/* section 2 */

.section2 {
  /* height: 20vh; */
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}

.section2-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* background-color: aquamarine; */
  padding: 0% 15%;
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.section2-bottom {
  flex: 2;
  display: flex;
  flex-direction: row;
  /* background-color: royalblue; */
  background-image: url("../assets/images/index.jpg");
  background-size: cover;
  background-position: center;
}

.section2-bottom-left {
  flex: 2;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.section2-bottom-left-top {
  /* background-color: aliceblue; */
  flex: 3;
  /*arrange items inside to center*/
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  font-family: "Cinzel", serif;
  justify-content: center;
  align-items: center;
  padding: 0% 10%;
  color: black;
}
.section2-bottom-left-title {
  margin-top: 200px;
}

.section2-bottom-left-bottom {
  /* background-color: aqua; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2-bottom-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: aliceblue; */
  /* padding: 10% 0%; */
}

.section2-bottom-left-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #f6d500;
  border-radius: 20px;
  background-color: transparent;
  color: #f6d500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 200px;
  transition: transform 0.3s ease;
  font-size: 1.2rem;
}

.section2-bottom-left-button:hover {
  color: #ffffff;
  transform: scale(1.05);
}
.section2-bottom-left-button a {
  text-decoration: none;
  color: #f6d500;
}

.section2-bottom-right-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 200px;
  transition: transform 0.3s ease;
}

.section2-bottom-right-button:hover {
  color: #ffffff;
  transform: scale(1.05);
}

/* Footer Styles */
/* footer {
  background-color: #246266;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.footer-left {
  display: flex;
  flex-direction: row;
}

.footer-left .logo img {
  height: 40px;
}

.footer-left .navigation {
  margin-top: 10px;
  margin-left: 20px;
}

.footer-left .menu li {
  display: inline-block;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}
.footer-left .menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}
.footer-right {
  text-align: right;
  font-size: 1.1rem;
  color: beige;
} */

@media only screen and (max-width: 768px) {
  .section1 .navigation .hamburger {
    display: flex;
  }

  .section1 .navigation .menu {
    display: none;
  }

  .section1 .navigation .menu.active {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 100px;
    right: 20px;
    padding: 10px;
  }

  .section1 .navigation .menu li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .section1 .navigation .menu li a {
    color: #000000;
  }
}

.section3 {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section3-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #000000 2px solid;
  margin: 20px 20px 10px 20px;
  padding: 20px 10px 10px 0px;
}
.section3-top .section-heading {
  font-size: 2.5rem;
  font-family: "Poppins", serif;
  color: #e4cd00;
  margin-bottom: 20px;
  text-decoration: solid underline;
}
.section3-top .section-sub-heading {
  font-size: 1.5rem;
  font-family: "Poppins", serif;
  color: #000000;
  margin-bottom: 20px;
  font-weight: bold;
}
.section3-top .section-description {
  font-size: 1.5rem;
  font-family: "Poppins", serif;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}
.section3-top .pricing {
  font-size: 1.3rem;
  font-family: "Poppins", serif;
  color: #2b2a2a;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}
.section3-bottom {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(154, 212, 193);
  margin: 10px 20px 20px 20px;
}
.section3-bottom-left {
  flex: 1.5;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/image5.jpg");
  background-size: cover;
  background-position: center;
}
.section3-bottom-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.section3-bottom-right-top {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/image4.jpg");
  background-size: cover;
  background-position: center;

  flex: 1;
}
.section3-bottom-right-bottom {
  width: 100%;
  height: 100%;
  flex: 1;
  background-image: url("../assets/images/image3.jpg");
  background-size: cover;
  background-position: center;
}

/* ---------------------------------------- */
/* 27-06-2023 */
.hero-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 8rem;
  transition: transform 0.3s ease;
}

.hero-button:hover {
  color: #ffffff;
  transform: scale(1.05);
}
.image-container {
  width: 400px;
  height: 700px;
  flex-shrink: 0;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 35rem;
}

.section-new {
}

.section-new-row {
  display: flex;
}

.section-new-image {
  flex-shrink: 0;
  width: 18rem;
  height: 10rem;
  overflow: hidden;
  color: #000000;
  margin: 1rem;
}

.section-new-image img {
  width: 100%;
  height: 100%;
}

.section-new-content {
  margin: 1rem;
  text-transform: uppercase;
  font-family: "Cinzel", serif;
}

.section-new-content-heading-star {
  width: 1.8rem;
  height: 1.8rem;
}

.section-new-content-heading-rating {
  font-size: 1.5rem;
  margin-left: 1.5rem;
  color: #d6bd6b;
}

.section-new-content-heading {
  display: flex;
  align-items: center;
  font-family: "Cinzel", serif;
}
.badge-image {
  /* position: absolute;
  left: 66rem;
  bottom: 8.1rem; */
  margin-left: 1rem;
  height: 4rem;
  width: 9rem;
}

.resort-content {
  padding-top: 1rem;
}

/* .navbar-buttons {
  display: flex;
  align-items: center;
}

.nav-buttons {
  width: 7rem;
  height: 3rem;
  border: 1px solid white;
  color: white;
  font-family: "Raleway", sans-serif;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  
  border-radius: 30px;
  transition: all 0.3s ease;
  text-decoration: none;
} */

/* .nav-button-group {
  display: flex;
  width: 26rem;

  justify-content: space-between;
  font-size: 20px;
  margin-right: 5rem;
}

.nav-buttons:hover {
  border: 1px solid #9bc699;
  color: #9bc699;
  cursor: pointer;
} */

.nav-button-group {
  display: flex;
  justify-content: space-between;
  width: 50rem;
  align-items: center;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 400;
}

.nav-button-group a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.nav-buttons {
  width: 10rem;
  height: 2.5rem;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 20px; */
  font-family: "Raleway";
  font-weight: 400;
  padding: 5px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.nav-buttons:hover {
  border: 1px solid #9bc699;
  color: #9bc699;
}

.menu li {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

/* ############# NEW-FOOTER ############ */
.footer-container {
  height: 20rem;
  margin-top: 2rem;
}
.footer-top-section {
  display: flex;
  height: 80%;
}
.footer-left {
  flex: 75%;
  background-color: #9bc699;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-left-inside {
  width: 80%;
  height: 70%;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  margin: 2rem 2rem;
  display: flex;
}

.footer-logo {
  flex: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-links {
  flex: 70%;
  display: flex;
  flex-direction: column;
}

.footer-links-row-one {
  display: flex;
  margin-left: 4rem;
  margin-top: 3rem;
}

.footer-links-row-two {
  display: flex;
  margin-left: 4rem;
  margin-top: 1.5rem;
}

.footer-right {
  flex: 25%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.address-section {
  margin-top: 2rem;
}

.follow-us-on-social-media {
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.social-media-buttons {
  display: flex;
  justify-content: space-between;
  width: 6rem;
}

.social-media-button-image {
  height: 1.5rem;
}

.footer-bottom-section {
}

.final-section {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  height: 4rem;
  background-color: #015c5c;
  color: #fff;
}

.copyright-privacy-policy {
  color: #fff;
  width: 60%;
  display: flex;
  justify-content: space-between;
  /* align-items: ; */
}

/* ############# ############ */

/* #################22 07 2023############### */
.location-section-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10rem;
}

.maps-facts-section {
  text-align: center;
  margin-left: 4rem;
}

.maps-facts-section-heading {
  font-size: 2.5rem;
  padding: 1rem;
  color: #9dc699;
}
.maps-facts-section-content {
  font-size: 1.5rem;
}
/* ################################################ */

/* ######################23 07 2023################### */
.footer-blank-section {
  display: none;
}

.footer-bottom-blank {
  height: 12rem;
  display: none;
}

.copyright-privacy-policy {
  color: #fff;
  width: 60%;
  display: flex;

  justify-content: space-between;
  /* align-items: ; */
}
.copyright-text {
  color: #fff;
  font-size: 1rem;
}
.terms-and-conditions-text a {
  font-size: 1rem;
  color: #ffffff;
}
/* ####################################################### */


/* ^^^^^^^^^^^^^^^^MENU^^^^^^^^^^^^^^^ */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70vh;
  z-index: 101;
  background: rgba(255, 255, 255, 0.93);
  visibility: hidden;
  opacity: 0;
}
.menu.active {
  visibility: visible;
  opacity: 1;
}
.menu_content {
  padding-right: 30px;
  padding-top: 100px;
}
.menu_close {
  position: absolute;
  top: 50px;
  right: 30px;
  cursor: pointer;
  z-index: 1;
}
.menu_close i {
  font-size: 28px;
  color: #121212;
}
.aa {
  display: flex;
  justify-content: space-around;
}
.btn-container {
  display: flex;
  justify-content: space-around;
}
.menu_close:hover i {
  color: #ffa37b;
}
.menu_nav ul li:not(:last-of-type) {
  margin-bottom: 5px;
}
.menu_nav ul li a {
  font-weight: 400;
  font-size: 22px;
  color: #121212;
  line-height: 1.2;
}
.menu_nav ul li a:hover {
  color: #ffa37b;
}
.menu_nav ul li a span {
  color: #690772;
}
.menu_extra {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.menu_book {
  display: none;
  margin-top: 50px;
}
.menu_book a {
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
.menu_book a::after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.62);
  content: "";
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.menu_book a:hover {
  color: #ffa37b;
}
.menu_book a:hover::after {
  background: #ffa37b;
}
.menu_phone {
  margin-top: 10px;
}
.menu_phone span {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 9px;
}
/* ---------------------------------------- */
@media only screen and (max-width: 768px) {
  .section-new-row {
    display: flex;
    flex-direction: column;
  }
  .main_nav {
    display: none;
  }

  .section1 .navigation .menu.active {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    position: absolute;
    height: 50vh;
    top: 110px;
    right: 20px;
    padding: 10px;
  }
  
  .section2-top {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0% 2%;
    padding-bottom: 18rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  .section1-bottom .title {
    margin-top: 50px;
    font-size: 2rem;

    color: #ffffff;
  }

  .location-section-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0rem;
  }

  .maps-facts-section {
    margin-left: 0rem;
    margin-bottom: 1rem;
  }

  .maps-facts-section-heading {
    font-size: 2rem;
    padding: 1rem;
  }

  .maps-facts-section-content {
    font-size: 1rem;
    padding: 0 20px;
  }

  .section-new-content-heading {
    display: block;
  }

  .image-container {
    width: 380px;
    height: 500px;
    margin: 1rem;
  }
  /* FOOOTER */
  .footer-blank-section {
    display: block;
  }

  .footer-top-section {
    flex-direction: column;
  }

  .footer-left-inside {
    flex-direction: column;
    padding-top: 1rem;
    justify-content: center;
    border: none;
  }
  .footer-logo {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-logo img {
    height: 4rem;
  }
  .footer-left {
    height: 12rem;
  }

  .footer-links-row-one {
    display: flex;
    font-size: 12px;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .footer-links-row-two {
    display: flex;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 1rem;
  }

  .footer-bottom-blank {
    display: block;
  }

  .final-section {
    display: flex;

    justify-content: center;
    padding-top: 14px;

    background-color: #015c5c;
    color: #fff;
  }

  .copyright-privacy-policy {
    color: #fff;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    /* align-items: ; */
  }
  .copyright-text {
    font-size: 10px;
  }
  .terms-and-conditions-text a {
    font-size: 10px;
  }
}
