@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.section1 {
  background-image: url("../assets/images/Yuvaan\ Hero\ Image.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section1-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 3%;
  flex: 1;
  /* background-color: aqua; */
}

.section1-top .logo img {
  height: 100px;
}

.section1-top .navigation .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.section1-top .navigation .hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 5px;
}

.section1-top .navigation .menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.section1-top .navigation .menu li {
  margin-left: 30px;
}

.section1-top .navigation .menu li a {
  color: #ffffff;
  text-decoration: none;
}

.yuvaan-logo {
  width: 30rem;
}

.curated-by-lush-logo {
  width: 10rem;
  padding-top: 10rem;
}
.section1-bottom {
  /* background-color: aquamarine; */
  flex: 10;
}

.section1-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section1-bottom .maintitle {
  margin-top: -100px;
  font-size: 10rem;
  font-family: "Cinzel", serif;
  color: #ffffff;
}

.section1-bottom .title {
  margin-top: 50px;
  font-size: 5rem;
  font-family: "Cinzel", serif;
  color: #ffffff;
}

.section1-bottom .sub-title {
  margin-top: -20px;
  font-size: 2rem;
  color: #ffffff;
}

/* section 2 */

.section2 {
  /* height: 20vh; */
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}

.section2-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* background-color: aquamarine; */
  padding: 5% 15%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
}

.section2-bottom {
  flex: 2;
  display: flex;
  flex-direction: row;
  /* background-color: royalblue; */
  background-image: url("../assets/images/index.jpg");
  background-size: cover;
  background-position: center;
}

.section2-bottom-left {
  flex: 2;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.section2-bottom-left-top {
  /* background-color: aliceblue; */
  flex: 3;
  /*arrange items inside to center*/
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  font-family: "Cinzel", serif;
  justify-content: center;
  align-items: center;
  padding: 0% 10%;
  color: black;
}
.section2-bottom-left-title {
  margin-top: 200px;
}

.section2-bottom-left-bottom {
  /* background-color: aqua; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2-bottom-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: aliceblue; */
  /* padding: 10% 0%; */
}

.section2-bottom-left-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #f6d500;
  border-radius: 20px;
  background-color: transparent;
  color: #f6d500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 200px;
  transition: transform 0.3s ease;
  font-size: 1.2rem;
}

.section2-bottom-left-button:hover {
  color: #ffffff;
  transform: scale(1.05);
}
.section2-bottom-left-button a {
  text-decoration: none;
  color: #f6d500;
}

.section2-bottom-right-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 200px;
  transition: transform 0.3s ease;
}

.section2-bottom-right-button:hover {
  color: #ffffff;
  transform: scale(1.05);
}

/* Footer Styles */
/* footer {
  background-color: #246266;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.footer-left {
  display: flex;
  flex-direction: row;
}

.footer-left .logo img {
  height: 40px;
}

.footer-left .navigation {
  margin-top: 10px;
  margin-left: 20px;
}

.footer-left .menu li {
  display: inline-block;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}
.footer-left .menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}
.footer-right {
  text-align: right;
  font-size: 1.1rem;
  color: beige;
} */

.section3 {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section3-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #8a8a8a 1px solid;
  margin: 20px 20px 10px 20px;
  padding: 20px 10px 10px 0px;
}
.section3-top .section-heading {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  color: #b98a10;
  margin-bottom: 20px;
  text-decoration: solid;
}
.section3-top .section-sub-heading {
  font-size: 1.5rem;
  font-family: Cinzel, serif;

  color: #000000;
  margin-bottom: 20px;
  margin-top: 1rem;
  margin-right: 10px;
  font-weight: bold;
}
.section3-top .section-description {
  font-size: 1.2rem;
  font-family: "Poppins", serif;
  color: #888;
  padding: 2rem 20rem;
  margin-bottom: 20px;
  text-align: center;
}
.section3-top .pricing {
  font-size: 1.3rem;
  font-family: "Poppins", serif;
  color: #2b2a2a;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}
.section3-bottom {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 10px 20px 20px 20px;
}
.section3-bottom-left {
  flex: 1.5;
  width: 100%;
  height: 100%;
  margin-right: 16px;
  background-image: url("../assets/images/image5.jpg");
  background-size: cover;
  background-position: center;
}
.section3-bottom-right {
  flex: 1;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.section3-bottom-right-top {
  width: 100%;
  height: 100%;
  padding-left: 8px;
  margin-bottom: 16px;
  background-image: url("../assets/images/image4.jpg");
  background-size: cover;
  background-position: center;

  flex: 1;
}
.section3-bottom-right-bottom {
  width: 100%;
  height: 100%;
  padding-left: 8px;
  flex: 1;
  background-image: url("../assets/images/image3.jpg");
  background-size: cover;
  background-position: center;
}

/* ------------------------------------ */
/* 27-05-2023 */
.hero-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 8rem;
  transition: transform 0.3s ease;
}

.hero-button:hover {
  color: #ffffff;
  transform: scale(1.05);
}
.pricing {
  font-family: "Montserrat", sans-serif;
}
.section-hero {
  background-image: url("../assets/images/Maldives\ Hero\ Image.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section-hero-seychelles {
  background-image: url("../assets/images/Seychelles\ hero\ Image.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.section-hero-uae {
  background-image: url("../assets/images/UAE\ Hero\ Image\ \(1\).png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section-hero-bali {
  background-image: url("../assets/images/Bali\ Hero\ Image.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section-hero-phuket {
  background-image: url("../assets/images/Phuket\ Hero\ Image.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title .title {
  margin-top: 10rem;
  font-size: 5rem;

  font-family: "Montaga", serif;
  text-transform: uppercase;
  color: #ffffff;
}
.section-title-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  padding: 0% 15%;
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.section-sub-heading-box {
  display: flex;
  align-items: center;
}

.line {
  border-top: 2px solid #b98a10;
  width: 40rem;
}

.badge-image {
  height: 5rem;
  width: 12rem;
  padding-bottom: 5px;
}

.section2-upper-download-brochure {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #888;
  font-weight: 300;
  font-size: 1.4rem;
}

/* .nav-buttons {
  width: 7rem;
  height: 3rem;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 1rem;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.nav-buttons:hover {
  border: 1px solid #9bc699;
  color: #9bc699;
}

.nav-button-group {
  margin-right: 5rem;
  display: flex;
} */

ul {
  list-style-type: none;
}

/* .main_nav {
  display: flex;
}
.main_nav ul li:not(:last-of-type) {
  margin-right: 49px;
}
.main_nav ul li a {
  font-size: 1.4rem;
  font-weight: 400;
  color: #ffffff;
}
.main_nav ul li a:hover,
.main_nav ul li.active a {
  color: #246266;
} */

/* .navbar-buttons {
  display: flex;
  align-items: center;
} */

/* .nav-buttons {
  width: 7rem;
  height: 3rem;
  border: 1px solid white;
  color: white;
  font-family: "Raleway", sans-serif;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
 
  border-radius: 30px;
  transition: all 0.3s ease;
  text-decoration: none;
} */

/* .nav-button-group {
  display: flex;
  width: 26rem;

  justify-content: space-between;
  font-size: 20px;
  margin-right: 5rem;
}

.nav-buttons:hover {
  border: 1px solid #9bc699;
  color: #9bc699;
  cursor: pointer;
} */

/* .menu li {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
} */

.nav-button-group {
  display: flex;
  justify-content: space-between;
  width: 50rem;
  align-items: center;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 400;
}

.nav-button-group a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.nav-buttons {
  width: 10rem;
  height: 2.5rem;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 20px; */
  font-family: "Raleway";
  font-weight: 400;
  padding: 5px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.nav-buttons:hover {
  border: 1px solid #9bc699;
  color: #9bc699;
}
.menu ul {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.download-brochure-button {
  /* display: inline-block;
  margin: 2rem;
  width: 22.25rem;
  height: 3.5rem;
  border-radius: 40px;
  border: 1px solid #9bc699;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #9bc699;
  text-decoration: none;
  font-size: 1.375rem;
  transition: 0.3s ease-in; */
  margin: 2rem;
  width: 22.25rem;
  padding: 10px 20px;
  display: flex;
  color: #9bc699;
  /* margin: 1rem 0rem; */
  border: 1px solid #9bc699;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 1.375rem;
  cursor: pointer;

  height: 4rem;
  transition: 0.3s ease;
}

.download-brochure-button :hover {
  /* border: 1px solid #1d1d1d;
  color: #1d1d1d; */
  color: #838080;
  border: 1px solid #838080;
}

.whatsapp-floating-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #25d366;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  z-index: 999;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.whatsapp-floating-btn:hover {
  background-color: #128c7e;
}

.whatsapp-floating-btn i {
  vertical-align: middle;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: none;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
}

.scroll-to-top:hover {
  background-color: #d2d2d2;
}

/* ############# NEW-FOOTER ############ */
.footer-container {
  height: 20rem;
  margin-top: 2rem;
}
.footer-top-section {
  display: flex;
  height: 80%;
}
.footer-left {
  flex: 75%;
  background-color: #9bc699;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-left-inside {
  width: 80%;
  height: 70%;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  margin: 2rem 2rem;
  display: flex;
}

.footer-logo {
  flex: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-links {
  flex: 70%;
  display: flex;
  flex-direction: column;
}

.footer-links-row-one {
  display: flex;
  margin-left: 4rem;
  margin-top: 3rem;
}

.footer-links-row-two {
  display: flex;
  margin-left: 4rem;
  margin-top: 1.5rem;
}

.footer-right {
  flex: 25%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.address-section {
  margin-top: 2rem;
}

.follow-us-on-social-media {
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.social-media-buttons {
  display: flex;
  justify-content: space-between;
  width: 6rem;
}

.social-media-button-image {
  height: 1.5rem;
}

.footer-bottom-section {
}

.final-section {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  height: 4rem;
  background-color: #015c5c;
  color: #fff;
}

.copyright-privacy-policy {
  color: #fff;
  width: 60%;
  display: flex;
  justify-content: space-between;
  /* align-items: ; */
}

/* ############# ############ */
/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .section1 .navigation .hamburger {
    display: flex;
  }

  .section1 .navigation .menu {
    display: none;
  }

  .section1 .navigation .menu.active {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 100px;
    right: 20px;
    padding: 10px;
  }

  .section1 .navigation .menu li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .section1 .navigation .menu li a {
    color: #000000;
  }

  .section3-top .section-description {
    padding: 1rem 1rem;
  }

  .section-title .title {
    margin-top: 10rem;
    font-size: 5rem;

    font-family: "Montaga", serif;
    text-transform: uppercase;
    color: #ffffff;
  }

  .section-title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    padding: 0% 10%;
    text-align: center;
    font-family: "Cinzel", serif;
    font-size: 1rem;
    line-height: 1.5;
  }

  .yuvaan-logo {
    width: 15rem;
  }

  .curated-by-lush-logo {
    width: 6rem;
    padding-top: 6rem;
  }

  .section3-top .section-heading {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    color: #b98a10;
    margin-bottom: 20px;
    text-decoration: solid;
  }

  .badge-image {
    height: 2.5;
    width: 6rem;
  }
}

/* ------------------------------------ */
